<!--
  Generated template for the AddContatoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="id == null">Cadastrar Contato</ion-title>
    <ion-title *ngIf="id != null">Editar Contato</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>

        <ion-item>
          <ion-label stacked>Nome</ion-label>
          <ion-input [ngModel]="nome" type="text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label stacked>Sobrenome</ion-label>
          <ion-input [ngModel]="sobrenome" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>E-mail</ion-label>
            <ion-input [ngModel]="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Telefone</ion-label>
            <ion-input [ngModel]="telefone" type="text" name="telefone" placeholder="(99)9 9999-9999" [brmasker]="{mask:'(00)9 0000-0000', len:15}"></ion-input>
        </ion-item>
      
      </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col width-50>
          <button class="btn-cancel" ion-button full>Cancelar</button>
      </ion-col>
      <ion-col width-50>
          <button class="btn-save" ion-button full>Salvar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-footer>
